.experience-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 50px;
}

.row {
  display: flex;
}

.column {
  flex: 50%;
}

.image {
  transition: all 0.4s;
  display: flex;
  cursor: pointer;
}

.image:hover {
  transform: translateY(-15px)
}

.position {
  margin-top: 125px;
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
}

.text {
  margin-left: 175px;
  margin-right: 150px;
}

.company {
  color: #000;
  font-family: "Recoleta-Black", sans-serif;
  font-size: 37px;
  display: flex;
  width: 400px;
  display: flex;
  text-align: left;
  flex-wrap: wrap;
  cursor: pointer;
}

.company:hover {
  color: #8da4d6;
}

.role {
  color: #000;
  font-family: "Recoleta-Black", sans-serif;
  font-size: 20px;
  display: flex;
  width: 400px;
  display: flex;
  margin-top: -15px;
  flex-wrap: wrap;
}

.project-description {
  color: #000;
  font-family: Circular-Medium, sans-serif;
  font-size: 15px;
  width: 300px;
  display: flex;
  text-align: left;
  margin-top: -5px;
  flex-wrap: wrap;
}

.skills {
  color: #000;
  font-family: Circular-Medium, sans-serif;
  font-size: 12px;
  width: 300px;
  display: flex;
  text-align: left;
  font-style: italic;
  margin-top: 0px;
}

@media (max-width: 900px) {
  .experience-wrapper {
    margin-top: -400px;
  }
}

.what-im-doing-text {
  /* align-items: flex-end; */
  display: flex;
  font-family: "Recoleta-Black", sans-serif;
  font-size: 40px;
  height: 200px;
  margin: 0 120px;
  padding-top: 120px;
  width: 300px;
  z-index: 3;
}
