.experience-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 50px;
}

.row {
  display: flex;
}

.column {
  flex: 50%;
}

.image {
  transition: all 0.4s;
  display: flex;
  cursor: pointer;
  flex-shrink: 0;
  margin: 5px 0;
  margin-left: -250px;
  justify-content: center;
}

.image:hover {
  transform: translateY(-15px)
}

.image-2 {
  transition: all 0.4s;
  display: flex;
  cursor: pointer;
  flex-shrink: 0;
  margin: 5px 0;
  margin-left: 300px;
  margin-bottom: 50px;
  justify-content: center;
}

.image-2:hover {
  transform: translateY(-15px)
}

.position {
  margin-top: 125px;
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
}

.text {
  margin-left: 135px;
  margin-right: 150px;
  justify-content: center;
}

.text-2 {
  margin-left: 25px;
  margin-right: 300px;
  justify-content: center;
}

.company {
  color: #000;
  font-family: "Recoleta-Black", sans-serif;
  font-size: 37px;
  display: flex;
  width: 400px;
  display: flex;
  margin-left: 100px;
  text-align: left;
  flex-wrap: wrap;
  cursor: pointer;
}

.company:hover {
  border-radius: 5px;
  font-weight: 600;
  cursor: pointer;
  background-color: #8da4d6;
  background-image: linear-gradient(45deg, #8da4d6, #000);
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent; 
  -moz-text-fill-color: transparent;
}

.role {
  color: #000;
  font-family: "Recoleta-Black", sans-serif;
  font-size: 20px;
  display: flex;
  width: 400px;
  margin-left: 100px;
  display: flex;
  margin-top: -15px;
  flex-wrap: wrap;
}

.project-description {
  color: #000;
  font-family: Circular-Medium, sans-serif;
  font-size: 15px;
  width: 300px;
  display: flex;
  text-align: left;
  margin-top: -5px;
  flex-wrap: wrap;
}

.skills {
  color: #000;
  font-family: Circular-Medium, sans-serif;
  font-size: 14px;
  width: 300px;
  display: flex;
  text-align: left;
  font-style: italic;
  margin-top: 0px;
}

@media (max-width: 900px) {
  .experience-wrapper {
    margin-top: -400px;
  }
}
