.work-header-wrapper {
  padding: 25px 15% 0px 15%;
}

.work-header {
  font-family: "Recoleta-Black", sans-serif;
  font-size: 40px;
  width: 600px;
}

.work-card-container {
  animation-name: fadeIn;
  animation-duration: 2s;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  padding: 30px 3% 0 3%;
}
