.experience-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: -300px;
}

.row {
  display: flex;
}

.column {
  flex: 50%;
}

.company {
  color: #000;
  font-family: "Recoleta-Black", sans-serif;
  font-size: 35px;
  display: flex;
  text-align: left;
}

.role {
  color: #000;
  font-family: Circular-Medium, sans-serif;
  font-size: 25px;
  display: flex;
  text-align: left;
}

.description {
  color: #000;
  font-family: Circular-Medium, sans-serif;
  font-size: 15px;
  display: flex;
  text-align: left;
}

@media (max-width: 900px) {
  .experience-wrapper {
    margin-top: -400px;
  }
}

.what-im-doing-text {
  /* align-items: flex-end; */
  display: flex;
  font-family: "Recoleta-Black", sans-serif;
  font-size: 40px;
  height: 200px;
  margin: 0 120px;
  padding-top: 120px;
  width: 300px;
  z-index: 3;
}
